h1{
    background-color: #ae2012;
    width: 100px; 
    border-width: thick;
}

div{
    width: 200px;
    height: 200px;
    background-color: #e9c46a;
}

.one{
    background-color:#94d2bd ;
    border-width: 5px;
    border-color: #ae2012;
    border-style: solid;
    box-sizing: border-box;
}
.two{
    background-color: #cfbaf0 ;
    border-width: 5px;
    border-color: #ae2012;
    border-style: dotted;
    box-sizing: border-box;
    border-left-color: aquamarine;

}
.three{
    background-color: #48cae4 ;
    border:5px dashed #0a9396;/*width style color */    box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50% 10% 30%;
}