body{
    font-family: 'Lora', serif;
    background-color: #e1e7e9 ;
}

.header ul{
    background-color: #2C384F;
    display: flex;
    width: auto;
    list-style-type: none;
    padding: 0;
    margin: 0px 5px 0px 5px;
    
}
.header li{
     color: aliceblue;
     padding: 0px 10px 0px 10px ;
     display: flex;
     align-items: center;
     justify-content: center;
}

.find{
    font-size: 180%;
    display: flex;
       
}

.fellows{
    background-color: aliceblue !important;
    color:black !important; 
    

}

.find:hover, .fellows:hover ,li:last-child:hover{
    background-color: #fbf8cc !important ;
    color: #bb3e03 !important;
}

.textoralive{
    font-size: 15px;
    margin: 0px 0px 0px 10px;
    color: #b7b7a4;
    align-items: flex-end;
}

.carousel{
    background-color: #6b705c;
    width: auto;
    height: 200px;
    padding: 5px;
    margin: 20px 5px 5px 5px;
}

.fellowstitle{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box{
    width: auto;
    display: flex;

    
}

.smallbox{
    height: 400px;
    width: 100%;
    background-color: #6b705c;
    margin: 0px 5px 0px 5px;
}

.emptysection{
    height: 150px;
}


.contact{
    display: flex;
    flex-direction: column;
    margin: 10px 60px 10px 60px;

    
}

.input{
    margin: 10px 0px 10px 0px;
    border-width: 1px solid;
    border-color: black;
    border-radius: 7px 7px 0px 0px;
}

.inputihave{
    margin: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
    border: 1px black solid;

}

.textemail{
    margin: 10px 0px 10px 0px;
    height: 200px;
    width:auto ;
    border: 2px black solid;
    border-radius: 0px 0px 10px 10px;
}